// Mixins

@mixin button-border($border-color, $border-width, $border-radius) {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
  }

  @mixin input-border($border-color, $border-width, $border-radius) {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
  }

  

@import "utilities/variables";
@import "base/reset";
@import "base/typography";
@import "base/main";
@import "components/buttons";
@import "components/menu";
@import "components/navbar";
@import "components/images";
@import "components/carousel";
@import "components/product";
@import "layout/layout";
@import "layout/footer";
@import "layout/forms";
@import "base/body";


