// variables

$color-text:#000000;
$color-text-secondary:#FFA500;
$color-text-tertiary:#ffffff;
$color-primary:#FFA500;
$color-secondary:#FFD700;
$color-tertiary:#333;
$color-quaternary:#212529;
$color-fifth:#ffffff;
$color-sixth:#faf5f560;




