form {
    background-color: $color-fifth;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px $color-quaternary;
}

label {
    display: block;
    margin-bottom: 8px;
}


.input-base {
  @include input-border($color-secondary, 2px, 50px);
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid $color-text-tertiary;
  border-radius: 4px;
}

input {
    @extend .input-base;
}


input[type="submit"] {
    @include input-border($color-secondary, 2px, 50px);
    background-color: $color-primary;
    color: $color-fifth;
    cursor: pointer;
    transition: background-color 0.3s;
}


input[type="submit"]:hover {
    @include input-border($color-secondary, 2px, 50px);
    background-color: $color-secondary;
}



.social-button img {
    width: 50px; 
    height: 50px; 
    
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid $color-quaternary;
    border-radius: 5px;
    box-sizing: border-box;
}


