form {
    background-color: $color-fifth;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px $color-quaternary;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid $color-quaternary;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: $color-primary;
    color: $color-fifth;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: $color-primary;
}



.social-button img {
    width: 50px; 
    height: 50px; 
    
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid $color-quaternary;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: $color-primary;
    color: $color-fifth;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: $color-secondary;
}

