

.containerReg{
    max-width: 400px;
    min-height: 80px;
    margin: 50px auto;
    position: center;


}

.containerForm{
    max-width: 400px;
    min-height: 80px;
    margin: 50px auto;
    position: center;
    margin-bottom: 200px;

}