.buy-button-base {
    @include button-border($color-secondary, 2px, 50px);
    font-size: 20px;
    background-color: $color-primary;
    transition: background-color 0.3s ease;
  }


.product-details .product-box .buy-button {
    @extend .buy-button-base;
  }

  

  .product-details .product-box .buy-button:hover {
    @include button-border($color-secondary, 2px, 50px);
    background-color: $color-secondary;
  }



