



  
  
  .carousel-item img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  .carousel-caption h5, .carousel-caption p {
    color: $color-fifth;
  }

  .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: $color-primary; 
    }

    .carousel-control-prev-icon::before,
    .carousel-control-next-icon::before {
      content: ''; 
      border: none; 
      color: $color-fifth; 
    }