body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('/pages/assets/images/fondo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}